@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');




.Heading{
	font-family: 'Otomanopee One', sans-serif;
	font-weight: 400;
	letter-spacing: -0.05em;
	line-height: 74px;
	font-size: 50px;
	margin: 0;
	width: 500px;
}


 .animated{
	animation: up-down  2s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down{
	0%{
		transform: translateY(10px); 
	}
	100%{
		transform: translateY(-10px); 
	}
}

@keyframes up-down{
	0%{
		transform: translateY(10px); 
	}
	100%{
		transform: translateY(-10px); 
	}
}