{% extends 'importable.html' %}
{% load hitcount_tags %}
{% block title %}  Socila blog {% endblock title %}

{% block head %} 
{% endblock head %}
{% block body %}


<section style="background-color: #C4E2FF">
	<div class="container pt-5">
  <div class="row">
    <div class="col">
      
      <p class="Heading">Social Blog is a place to write, read, and connect</p>
      <p class="pt-3">
        It's easy and free to post your thinking on any topic and <br>connect with millions of readers.
      </p> 
<div class="p-4">
   {%  if  user.is_authenticated %}
      <a class="btn" href="/user/account/upload/" style="border:1px solid black;border-radius: 50px;background-color: #fafafa">Start Writing</a>
      {% else %}

       <a class="btn" href="/signin/" style="border:1px solid black;border-radius: 50px;background-color: #fafafa">Login</a>

      {% endif %}

      </div>
    </div>
    <div class="col order-5   ms-auto mb-2">
      <img src="https://miro.medium.com/max/349/4*BIK9VGjeCj2TaTDw4id2nA.png">
    </div>
    
  </div>
</div>
</section>
 


<section class="p-5">
 
  <p style="font-weight: 500;font-size: 15px;">TRENDING ON SOCIAL BLOG</p>
  <div class="container">
  <div class="row">
    
    {% for i in Trending_post %}
   <div class="col-sm-4 p-3">

    <div class="card">

      <div class="card-body"> 
        <h5 class="card-title">{{i.Title}}</h5>
        <p class="card-text">
         <p class="card-text">
          Post By {{i.user}} 
        </p>
        <p ><span><b>Like </b></span>{{i.like.count}} || 

          <b>  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                      <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                      <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                    </svg>  {% get_hit_count for i %}</b>

        </p>
        </p>
         
        <a class="btn" href="/post/{{ i.user }}/{{ i.slug }}" style="border:1px solid black;border-radius: 50px;background-color: #fafafa">Read More</a>
         
      </div>
    </div>
  </div>

  {% endfor %}

</div>
</div>
</div>
<hr>
</section>

<div class="container">
    <h3 style="font-weight: 500;font-size: 20px;">More Blog</h3>
  <div class="row">
    <div class="col-8 ">
      {% for i in Alldata %}
   <div class="col-sm-12 p-3">

    <div class="card">

      <div class="card-body">
        <h5 class="card-title">{{i.Title}}</h5>
        <p class="card-text">
         <p class="card-text">
          Post By {{i.user}} 
        </p>
        <p ><span><b>Like </b></span>{{i.like.count}} || 

          <b>  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                      <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                      <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                    </svg>  {% get_hit_count for i %}</b>

        </p>
        </p>
        
        <a class="btn" href="/post/{{ i.user }}/{{ i.slug }}" style="border:1px solid black;border-radius: 50px;background-color: #fafafa">Read More</a>
      
      </div>
    </div>
  </div>

  {% endfor %}
    </div>
    <div class="col-4">
       <p style="font-weight: 500;font-size: 15px;">DISCOVER MORE OF WHAT MATTERS TO YOU</p>
  <div class="tags">

                    <ul>
                        {% for mt in alltags%}
                        <li style="margin-bottom: 8px;margin-right: 8px;display: inline-block;list-style-type: none;">
                            <a href="{% url 'detail_view' mt.slug %}" style="padding: 5px 10px;border-radius: 3px;line-height: 22px;background: rgba(242, 242, 242, 1);color: rgba(117, 117, 117, 1);text-decoration: none;font-size: 13px;font-family: sohne, 'Helvetica Neue', Helvetica, Arial, sans-serif;display: block;font-weight: 400;-webkit-tap-highlight-color: transparent;">
                                {{mt}}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <hr>  
  </div>


  </div>
</div>
{% endblock body %}