{% extends 'importable.html' %}

{% block body %}
 {% load hitcount_tags %}
<div class="container">
    <div class="mt-5  mb-5">
        <div class="panel profile-cover">
            <div class="profile-cover__img">
                <img src="{{Userdata.userprofile.Profileimage.url}}" alt="" />
                <h3 class="h3">{{Userdata.username}}</h3>
            </div>
            <div class="profile-cover__action bg--img" data-overlay="0.3">
                {%  if  user.is_authenticated %}
                {% if Data and not request.user == Userdata.username %}
    <a class="btn btn-primary " href="{% url 'follow' Userdata.username %}" id="follow" role="button" style="height: auto;margin: 10px;border-radius: 30px;width: 95px;">
        Unfollow
    </a>
    {% elif request.user.username ==  Userdata.username %}
    <a class="btn btn-primary " href="/user/account/myprofile/" role="button" style="height: auto;margin: 5px;border-radius: 30px;width: 95px">
        Edit
    </a>
    {% else %}
    <a class="btn btn-primary " href="{% url 'follow' Userdata.username %}" id="follow" role="button" style="height: auto;margin: 5px;border-radius: 30px;width: 95px">
        Follow
    </a>
    {% endif %}
                    {% else %}
    <a class="btn btn-primary " href="/user/account/login" role="button" style="height: auto;margin: 5px;border-radius: 30px;width: 95px">
        Login
    </a>
    {% endif %}
            </div>
            <div class="profile-cover__info">
                <ul class="nav">
                    <li><strong>{{Imagecount}}</strong>POSTS</li>
                    <li><strong> {{following_obj}}</strong>Followers</li>
                    <li><strong>{{following}}</strong>Following</li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="container">
  <div class="row">

{% for i in data %}

  <div class="col-sm-4 p-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{i.Title}}</h5>
        <p ><span><b>Like </b></span>{{i.like.count}} || 

          <b>  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                      <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                      <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                    </svg>  {% get_hit_count for i %}</b>

        </p>
        <p >{{i.like.count}}</p>
        <a class="btn" href="/post/{{ i.user }}/{{ i.slug }}" style="border:1px solid black;border-radius: 50px;background-color: #fafafa">Read More</a>
      </div>
    </div>
  </div>

  {% endfor %}

</div>
    </div>


<script type="text/javascript">
    $('#follow').click(function (e) {

        e.preventDefault();
        var href=this.href;
    
        $.ajax({
            url:href,
            dataType: 'json',

            success:function(response){
                if(response["following"]){
                    $('#follow').html('Unfollow')
                }
                else{
                    $('#follow').html('Follow')
                }
            }
        })
    })
</script>

{% endblock body %}