{% extends 'importable.html' %}
{% block title %}  Socila blog {% endblock title %}
{% block head %} 
 <script src="https://cdn.tiny.cloud/1/wymtd879uihcdg08odcxviauawtmwzpd9m8iadr8djbr8x8j/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
{% endblock head  %}

{% block body %}
{% load crispy_forms_tags %} 

<div class="m-4">
   <div class="container">
<form enctype="multipart/form-data" method="post">
     <div class="m-4" >
    {{form.Title|as_crispy_field}}

    
</div>
 <div class="m-4" >
    {{ form.Images|as_crispy_field }} 

     {{ form.Artical|as_crispy_field  }} 
</div>


  
               
    <div class="form-group" id="div_id_tags">
        <label class="requiredField" for="id_tags">
            Tags
            <span class="asteriskField">
                *
            </span>
        </label>
        <div class="">
            <input class="tagwidget form-control" data-role="tagsinput" height="auto" id="id_tags" name="tags" required="enter some tag" type="text">
            </input>
        </div>
    </div>
    {% csrf_token %}
    <div class="pt-4">
    <button class="btn btn-raised btn-success Descover " type="submit">
        POST
    </button>
    </div>
</form>
</div>

</div>


 
 <script>
   tinymce.init({
    selector: '#id_Artical',
    height: 400,
       
    plugins: [
      'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
      'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
      'table emoticons template paste help',
      'image code'
    ],
    toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | ' +
      'bullist numlist outdent indent | link image  | print preview media fullpage | ' +
      'forecolor backcolor emoticons | help ',
    menu: {
      favs: {title: 'My Favorites', items: 'code visualaid | searchreplace | spellchecker | emoticons'}
    },

    image_title: true,
  /* enable automatic uploads of images represented by blob or data URIs*/
  automatic_uploads: true,
  /*
    URL of our upload handler (for more details check: https://www.tiny.cloud/docs/configure/file-image-upload/#images_upload_url)
    images_upload_url: 'postAcceptor.php',
    here we add custom filepicker only to Image dialog
  */
  file_picker_types: 'image',
  /* and here's our custom image picker*/
  file_picker_callback: function (cb, value, meta) {
    var input = document.createElement('input');
    input.setAttribute('type', 'file');
    input.setAttribute('accept', 'image/*');

    /*
      Note: In modern browsers input[type="file"] is functional without
      even adding it to the DOM, but that might not be the case in some older
      or quirky browsers like IE, so you might want to add it to the DOM
      just in case, and visually hide it. And do not forget do remove it
      once you do not need it anymore.
    */

    input.onchange = function () {
      var file = this.files[0];

      var reader = new FileReader();
      reader.onload = function () {
        /*
          Note: Now we need to register the blob in TinyMCEs image blob
          registry. In the next release this part hopefully won't be
          necessary, as we are looking to handle it internally.
        */
        var id = 'blobid' + (new Date()).getTime();
        var blobCache =  tinymce.activeEditor.editorUpload.blobCache;
        var base64 = reader.result.split(',')[1];
        var blobInfo = blobCache.create(id, file, base64);
        blobCache.add(blobInfo);

        /* call the callback and populate the Title field with the file name */
        cb(blobInfo.blobUri(), { title: file.name });
      };
      reader.readAsDataURL(file);
    };

    input.click();
  },
  content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }',



    menubar: 'favs file edit view insert format tools table help',
    content_css: 'css/content.css',
    valid_elements : '*[*]',
    valid_styles: '*[*]',
   
  });
  </script>


{% endblock %}